@import '../../styles/variables.css';

.header {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  z-index: 110;
  height: 1em;

  @media (--screen-sm) {
    height: 1.4em;
  }

  & img {
    height: 100%;
    width: auto;
    margin-bottom: 0;
  }
}

.logo--slnsw {
  margin-left: var(--spacing-sm);
  padding-left: var(--spacing-sm);

  @media (--screen-sm) {
    margin-left: 0;
    padding-left: 0;
  }

  &::before {
    content: "";
    height: 0.5em;
    width: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 1px solid var(--colour-white);

    @media (--screen-sm) {
      display: none;
    }
  }
}

nav {
  position: absolute;
  top: 0;
  display: none;
  z-index: 100;
  height: 100vh;
  width: calc(100% + 2.6em);
  margin: 0 -1.3em;
  background-color: var(--colour-black);
  font-size: var(--font-size-sm);
  text-align: center;

  @media (--screen-sm) {
    margin: 0 auto;
    position: relative;
    display: block;
    height: auto;
  }

  & ul {
    margin-top: 4em;
    margin-bottom: 0;
    padding: 0;

    @media (--screen-sm) {
      margin-top: 0;
    }
  }

  & li {
    position: relative;
    font-size: var(--font-size-lg);
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-align: left;

    @media (--screen-sm) {
      display: inline-block;
      font-size: var(--font-size-md);
      margin-right: var(--spacing-xxlg);
    }

    /* Search icon */
    &:last-child {
      @media (--screen-sm) {
        margin-right: 0;

        & .slnsw-icon-ZoomOL2 {
          padding-left: 1em;
        }
      }

      & .primary-menu__divider {
        display: none;

        @media (--screen-sm) {
          display: inline;
        }
      }
    }

    & a {
      display: block;
      padding: 1em 1em 1em 3em;
      color: var(--colour-white);

      @media (--screen-sm) {
        padding: 0;
      }
    }

    & a.is-active {
      color: var(--colour-highlight);

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        content: "";
        width: 0.3em;
        height: 3.5em;
        background-color: var(--colour-highlight);

        @media (--screen-sm) {
          display: none;
        }
      }
    }

    /* Menu item decorations */
    &::before {
      position: absolute;
      content: "";
      left: 1em;
      width: 0.8em;
      height: 1px;
      border-top: 1px solid var(--colour-white);

      @media (--screen-sm) {
        display: none;
      }
    }

    /* Menu item decorations */
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 0.5em;
      border-top: 1px solid var(--colour-white);

      @media (--screen-sm) {
        display: none;
      }
    }
  }

  &.is-active {
    display: block;
  }
}

.primary-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 110;
  width: 1em;

  @media (--screen-sm) {
    display: none;
  }

  /* Hamburger Icon Animation */
  & span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--colour-white);
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  & span:nth-child(1) {
    top: 0;
  }

  & span:nth-child(2), & span:nth-child(3) {
    top: 4px;
  }

  & span:nth-child(4) {
    top: 8px;
  }

  &.is-open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
  }

  &.is-open span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.is-open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.is-open span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
  }
}
