@import '../../styles/variables.css';

.header {
  position: relative;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* top: 1em; */
  z-index: 10;
  display: flex;
  align-items: center;
  padding-top: 1em;

  @media (--screen-sm) {
    position: inherit;
    position: sticky;
    position: -webkit-sticky;
    top: -2em;
    flex-direction: column;
    flex-flow: wrap;
    align-items: flex-start;
    padding-top: 0;
  }

  @media (--screen-lg) {
    top: 1em;
    flex-flow: nowrap;
    flex-direction: row;
    align-items: center;
  }
}

.logo {
  position: relative;
  z-index: 110;
  height: 1em;

  @media (--screen-sm) {
    height: 1.4em;
  }

  & img {
    height: 100%;
    width: auto;
    margin-bottom: 0;
  }
}

.logo--dxlab {
  @media (--screen-sm) {
    flex: 1;
    order: 1;
  }

  @media (--screen-lg) {
    flex: none;
    padding-right: 1.5em; /* Makes logo same width as SL logo */
  }
}

.logo--slnsw {
  margin-left: var(--spacing-sm);
  padding-left: var(--spacing-sm);

  @media (--screen-sm) {
    position: relative;
    order: 2;
    /* position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
    padding-left: 0; */
  }

  @media (--screen-lg) {
    order: 3;
  }

  /* @media (--screen-lg) {
    position: relative;
  } */

  /* Line decoration */
  &::before {
    content: '';
    height: 0.5em;
    width: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 1px solid var(--colour-white);

    @media (--screen-sm) {
      display: none;
    }
  }
}

.header__nav {
  position: absolute;
  top: 0;
  /* top: -1.2em; */
  overflow: hidden;
  pointer-events: none;
  height: 100vh;
  display: block;
  z-index: 100;
  width: calc(100% + 2.6em);
  margin: 0 -1.3em;
  font-size: var(--font-size-sm);
  text-align: center;
  transition: 0.3s;

  @media (--screen-sm) {
    position: relative;
    top: 0;
    order: 3;
    display: block;
    pointer-events: auto;
    margin: 0 auto;
    height: auto;
    background-color: transparent;
    transition: none;
  }

  @media (--screen-lg) {
    order: 2;
  }

  &.is-active {
    pointer-events: auto;
    background-color: var(--colour-black);

    @media (--screen-sm) {
      background-color: transparent;
    }
  }
}

ul.primary-menu {
  position: relative;
  right: -100%;
  height: 100%;
  margin-top: 4em;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1); /* easeInOutQuint */

  @media (--screen-sm) {
    margin-top: var(--spacing-xlg);
    right: auto;
    transition: none;

    /* Line decoration */

    /*&::before {
      display: block;
      content: "";
      border-top: 1px solid var(--colour-white);
      height: var(--spacing-xxs);
      width: 1em;
    }*/
  }

  @media (--screen-lg) {
    text-align: center;
    line-height: 1;
    margin-top: 0.2em;

    &::before {
      display: none;
    }
  }

  @nest .is-active & {
    right: 0;
  }
}

.primary-menu__item {
  position: relative;
  font-size: var(--font-size-lg);
  @apply --font-uppercase;
  text-align: left;
  transition: 0.3s ease-out;
  transition-delay: 0.3s;
  background-color: var(--colour-black);

  /* Stagger animtion */
  &:nth-child(2) {
    left: 0.5em;
  }

  &:nth-child(3) {
    left: 1em;
  }

  &:nth-child(4) {
    left: 1.5em;
  }

  &:nth-child(5) {
    left: 2em;
  }

  &:nth-child(6) {
    left: 2.5em;
  }

  &:nth-child(7) {
    left: 3em;
  }

  @nest .is-active & {
    left: 0;
  }

  @media (--screen-sm) {
    display: inline-block;
    font-size: var(--font-size-md);
    line-height: 1;
    margin-right: var(--spacing-lg);
    background-color: transparent;
    transition: none;
    left: 0 !important; /* Sorry! KC */
  }

  @media (min-width: 40em) {
    margin-right: var(--spacing-xlg);
  }

  /* Search icon */
  &:last-child {
    @media (--screen-sm) {
      margin-right: 0;

      & .slnsw-icon-ZoomOL2 {
        padding-left: 1em;
      }
    }

    & .slnsw-icon-ZoomOL2:hover {
      color: var(--colour-highlight);
    }

    & a:hover {
      text-decoration: none;
    }

    & .primary-menu__divider {
      display: none;

      @media (--screen-sm) {
        display: inline;
      }
    }
  }

  & a {
    display: block;
    padding: 1em 1em 1em var(--spacing-xlg);

    @media (--screen-sm) {
      padding: 0;
    }

    /*&:hover {
      border-bottom: 1px solid var(--colour-highlight);
    }*/

    &.is-active {
      color: var(--colour-highlight);

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        content: '';
        width: 0.3em;
        height: 3.5em;
        background-color: var(--colour-highlight);

        @media (--screen-sm) {
          display: none;
        }
      }
    }
  }

  /* Menu item decorations */
  /*&::before {
    position: absolute;
    content: "";
    left: 1em;
    width: 0.8em;
    height: 1px;
    border-top: 1px solid var(--colour-white);

    @media (--screen-sm) {
      display: none;
    }
  }*/

  /* Menu item decorations */
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 0.5em;
    border-top: 1px solid var(--colour-white);

    @media (--screen-sm) {
      display: none;
    }
  }
}

/* Mobile only Hamburger */
.primary-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 110;
  /* margin-top: -1em; */
  margin-right: -1em;
  width: 3em;
  height: 3em;
  padding: 0;
  cursor: pointer;

  @media (--screen-sm) {
    display: none;
  }

  & div {
    position: absolute;
    top: 1.2em;
    left: 1em;
  }

  /* Hamburger Icon Animation */
  & span {
    display: block;
    position: absolute;
    height: 1px;
    width: 1em;
    background: var(--colour-white);
    border-radius: 2px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  & span:nth-child(1) {
    top: 0;
  }

  & span:nth-child(2),
  & span:nth-child(3) {
    top: 4px;
  }

  & span:nth-child(4) {
    top: 8px;
  }

  &.is-open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
  }

  &.is-open span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.is-open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.is-open span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
  }
}
