{
  "env": {
    "development": {
      "presets": "next/babel",
      "plugins": [
        [
          "wrap-in-js",
          {
            "extensions": ["css$"]
          }
        ],
        "inline-dotenv",
        "transform-flow-strip-types"
      ]
    },
    "production": {
      "presets": "next/babel",
      "plugins": [
        "transform-inline-environment-variables"
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  }
}
