@import '../../styles/variables.css';

.comments {
  position: relative;
  display: block;
  padding-bottom: var(--spacing-xlg);

  /* Line decoration at the bottom */
  &::after {
    position: absolute;
    bottom: 0;
    right: -1em;
    content: "";
    width: var(--spacing-xxlg);
    border-bottom: 1px dashed var(--colour-white);

    @media (--screen-sm) {
      border: none;
    }
  }
}

  .comments__list {
    margin-bottom: 3em;
  }
