@import '../../styles/variables.css';

.search-form {
  display: flex;
  margin-bottom: var(--spacing-md);

  & .button {
    flex: 1;
  }
}

.search-page__results {
  display: flex;
}

.search-form__input {
  flex: 3;
  margin-right: var(--spacing-md);
}

.search-page__facet-list {
  @media (--screen-sm) {
    flex: 1;
    margin-right: var(--spacing-xlg);
    font-size: var(--font-size-sm);
  }
}

.search-page__facet {
  margin-bottom: var(--spacing-xxlg);
}

.search-page__facet__title {
  margin-top: 0;
  color: var(--colour-grey);
}

.search-page__facet__value-name {
}

.search-page__items {
  @media (--screen-sm) {
    flex: 4;
  }
}

.item {
  lost-utility: clearfix;

  margin-bottom: var(--spacing-md);
  border-top: 1px solid var(--colour-grey-darkest);
  padding-top: var(--spacing-md);

  & a {
    height: 100%;
  }

  & h2 {
    font-family: 'Lekton';
    font-weight: 400;
    margin-top: 0;
    font-size: var(--font-size-lg);
    color: var(--colour-primary);
  }
}

.item__image-holder {
  lost-column: 1/4;

  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 100%;
  }
}

.item__info {
  lost-column: 3/4;

  color: var(--colour-white);
}

.item__type {
  text-transform: uppercase;
  color: var(--colour-white);
  font-size: var(--font-size-sm);
}

.item__id {
  color: var(--colour-grey);
  margin-bottom: 0;
}
