@import '../../styles/variables.css';

.search-form {
  display: flex;
  margin-bottom: var(--spacing-md);

  & .button {
    flex: 1;
  }
}

.search-page__results {
  display: flex;
}

.search-page__results__loader {
  position: relative;
  height: 1px;
  margin-bottom: -1px;
  z-index: 10;
  background: linear-gradient(
    270deg,
    var(--colour-black),
    var(--colour-highlight),
    var(--colour-black)
  );
  background-size: 400% 400%;

  animation: AnimationName 2s ease infinite;

  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

.search-form__input {
  flex: 3;
  margin-right: var(--spacing-md);
}

.search-page__facet-list {
  @media (--screen-sm) {
    flex: 1;
    margin-right: var(--spacing-xxxxlg);
    font-size: var(--font-size-sm);
  }
}

.search-page__facet {
  margin-bottom: var(--spacing-xxlg);
}

.search-page__facet__title {
  margin-top: 0;
  color: var(--colour-grey);
}

.search-page__facet__value-name {
  & a:link,
  & a:visited {
    display: block;
    /* padding-top: var(--spacing-xxxs); */
    padding-bottom: var(--spacing-xxxs);
    color: var(--colour-white);
    /* border-top: 1px solid var(--colour-grey-darkest); */
  }
}

.search-page__facet__toggle {
  text-transform: lowercase;
  /* margin-top: var(--spacing-xxxs); */
  padding: 0;
  color: var(--colour-highlight);
}

.search-page__selected-facets {
  /* margin-bottom: var(--spacing-md); */
}

/* Move to global function */
.search-page__facet-button {
  display: inline-block;
  margin-right: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-md);
  border: 1px solid var(--colour-primary);
  font-size: var(--font-size-sm);
  @apply (--font-uppercase);
}

.search-page__results__items {
  transition: 0.3s;
  opacity: 1;
}

.search-page__results__items--is-loading {
  opacity: 0.2;
}

.search-page__items {
  @media (--screen-sm) {
    flex: 4;
  }
}

.item {
  lost-utility: clearfix;

  margin-bottom: var(--spacing-md);
  border-top: 1px solid var(--colour-grey-darkest);
  padding-top: var(--spacing-md);

  & a {
    display: flex;
    height: 100%;
  }

  & h2 {
    font-family: 'Lekton';
    font-weight: 400;
    margin-top: 0;
    /* font-size: var(--font-size-md); */
    color: var(--colour-primary);

    @media (--screen-sm) {
      font-size: var(--font-size-lg);
    }
  }
}

.item__image-holder {
  display: flex;
  flex: 1;
  margin-right: var(--spacing-md);
  justify-content: flex-start;
  align-items: flex-start;

  @media (--screen-sm) {
    margin-right: var(--spacing-xlg);
  }

  & img {
    width: 100%;
  }
}

.item__info {
  flex: 3;
  font-size: var(--font-size-sm);
  color: var(--colour-white);

  @media (--screen-sm) {
    font-size: var(--font-size-md);
  }
}

.item__type {
  @apply (--font-uppercase);
  color: var(--colour-grey);
  font-size: var(--font-size-sm);
  font-weight: 700;
}

.item__id {
  @apply (--font-uppercase);
  font-size: var(--font-size-sm);
  color: var(--colour-grey);
  margin-bottom: 0;
}
