@import '../../styles/variables.css';

.collection-search-page {
  padding-top: var(--spacing-md);
  @media (--screen-sm) {
    padding-top: var(--spacing-lg);
  }
}

.collection-search-page__title {
  font-size: var(--font-size-sm);

  @media (--screen-sm) {
    font-size: var(--font-size-md);
  }
}

/* Form */
.collection-search-page__form {
  display: flex;
  margin-bottom: var(--spacing-md);

  & .button {
    flex: 1;
  }
}

.collection-search-page__form__input {
  flex: 4;
  margin-right: var(--spacing-md);
}

/* Results */
.collection-search-page__results {
  display: flex;
}

/* Loader */
.collection-search-page__results__loader {
  position: relative;
  height: 1px;
  margin-bottom: -1px;
  z-index: 10;
  background: linear-gradient(
    270deg,
    var(--colour-black),
    var(--colour-highlight),
    var(--colour-black)
  );
  background-size: 400% 400%;
  @apply (--font-uppercase);

  animation: AnimationName 2s ease infinite;

  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

.collection-search-page__results__loader__text {
  color: var(--colour-grey-light);
  font-size: var(--font-size-sm);
  padding-top: var(--spacing-md);

  & span {
    /**
	     * Use the blink animation, which is defined above
	     */
    animation-name: blink;
    /**
	     * The animation should take 1.4 seconds
	     */
    animation-duration: 1.4s;
    /**
	     * It will repeat itself forever
	     */
    animation-iteration-count: infinite;
    /**
	     * This makes sure that the starting style (opacity: .2)
	     * of the animation is applied before the animation starts.
	     * Otherwise we would see a short flash or would have
	     * to set the default styling of the dots to the same
	     * as the animation. Same applies for the ending styles.
	     */
    animation-fill-mode: both;
  }

  & span:nth-child(2) {
    /**
	     * Starts the animation of the third dot
	     * with a delay of .2s, otherwise all dots
	     * would animate at the same time
	     */
    animation-delay: 0.2s;
  }

  & span:nth-child(3) {
    /**
	     * Starts the animation of the third dot
	     * with a delay of .4s, otherwise all dots
	     * would animate at the same time
	     */
    animation-delay: 0.4s;
  }
}

@keyframes blink {
  /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
  0% {
    opacity: 0.2;
  }
  /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
  20% {
    opacity: 1;
  }
  /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
  100% {
    opacity: 0.2;
  }
}

/* Info  */
.collection-search-page__info {
  display: flex;
  margin-bottom: var(--spacing-sm);
}

.collection-search-page__toggle-facet-list-button {
  flex: 1;
  padding: var(--spacing-sm) 0;
  @apply (--font-uppercase);
  font-size: var(--font-size-sm);
  font-weight: 700;
  text-align: left;
  color: var(--colour-highlight);

  @media (--screen-sm) {
    position: relative;
    top: 0;
    /* padding-bottom: var(--spacing-lg); */
  }
}

.collection-search-page__toggle-facet-list-button--mobile {
  display: block;

  @media (--screen-sm) {
    display: none;
  }
}

.collection-search-page__toggle-facet-list-button--desktop {
  display: none;

  @media (--screen-sm) {
    display: block;
  }
}

.collection-search-page__total-items {
  flex: 1;
  padding: var(--spacing-sm) 0;
  @apply (--font-uppercase);
  font-size: var(--font-size-sm);
  text-align: right;

  @media (--screen-sm) {
    flex: 3;
    text-align: left;
  }
}

/* Facets */
.collection-search-page__facet-list {
  position: fixed;
  z-index: 20;
  display: none;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: var(--spacing-lg);
  background-color: var(--colour-black);
  border-right: 1px solid var(--colour-grey-darkest);
  font-size: var(--font-size-sm);

  @media (--screen-sm) {
    position: relative;
    z-index: 1;
    flex: 1;
    width: 100%;
    border-right: none;
    padding: 0;
  }
}

.collection-search-page__facet-list--is-desktop-active {
  @media (--screen-sm) {
    display: block;
  }
}

.collection-search-page__facet-list--is-mobile-active {
  display: block;
}

.collection-search-page__facet-list__mobile-button {
  /* position: sticky; */
  top: 0;
  width: 100%;
  margin-bottom: var(--spacing-xlg);
  padding-bottom: var(--spacing-md);
  padding-left: 0;
  background-color: var(--colour-black);
  border-bottom: 1px solid var(--colour-grey-darkest);
  @apply (--font-uppercase);
  font-size: var(--font-size-md);
  font-weight: 700;
  text-align: left;
  color: var(--colour-highlight);

  @media (--screen-sm) {
    display: none;
  }
}

.collection-search-page__facet {
  margin-bottom: var(--spacing-xxlg);
  margin-right: var(--spacing-xxxxlg);
}

.collection-search-page__facet__title {
  margin-top: 0;
  color: var(--colour-grey);
}

.collection-search-page__facet__value-name {
  line-height: var(--line-height-sm);

  & a:link,
  & a:visited {
    display: block;
    /* padding-top: var(--spacing-xxxs); */
    padding-bottom: var(--spacing-xs);
    color: var(--colour-white);
    /* border-top: 1px solid var(--colour-grey-darkest); */
  }

  & span {
    color: var(--colour-grey-light);
  }
}

.collection-search-page__facet__toggle {
  text-transform: lowercase;
  /* margin-top: var(--spacing-xxxs); */
  padding: 0;
  color: var(--colour-highlight);
}

.collection-search-page__selected-facets {
  /* margin-bottom: var(--spacing-md); */
}

/* Move to global function */
.collection-search-page__facet-button {
  display: inline-block;
  margin-right: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-md);
  border: 1px solid var(--colour-primary);
  font-size: var(--font-size-sm);
  @apply (--font-uppercase);
}

/* Results */
.collection-search-page__results__items {
  transition: 0.3s;
  opacity: 1;
}

.collection-search-page__results__items--is-loading {
  opacity: 0.2;
}

.collection-search-page__items {
  @media (--screen-sm) {
    flex: 3;
  }
}

.item {
  lost-utility: clearfix;

  margin-bottom: var(--spacing-md);
  border-top: 1px solid var(--colour-grey-darkest);
  padding-top: var(--spacing-md);

  & a {
    display: flex;
    height: 100%;
  }

  & h2 {
    font-family: 'Lekton';
    font-weight: 400;
    margin-top: 0;
    /* font-size: var(--font-size-md); */
    color: var(--colour-primary);

    @media (--screen-sm) {
      font-size: var(--font-size-lg);
    }
  }
}

.item__image-holder {
  display: flex;
  flex: 1;
  margin-right: var(--spacing-md);
  justify-content: flex-start;
  align-items: flex-start;

  @media (--screen-sm) {
    margin-right: var(--spacing-xlg);
  }

  & img {
    width: 100%;
  }
}

.item__image-holder--no-image {
  background-color: var(--colour-grey-darkest);
  justify-content: center;
  align-items: center;
  max-height: 8em;

  & span {
    font-size: var(--spacing-sm);
    color: var(--colour-grey);
  }
}

.item__info {
  flex: 3;
  font-size: var(--font-size-sm);
  color: var(--colour-white);

  @media (--screen-sm) {
    font-size: var(--font-size-md);
  }
}

.item__type {
  @apply (--font-uppercase);
  color: var(--colour-grey);
  font-size: var(--font-size-sm);
  font-weight: 700;
}

.item__id {
  @apply (--font-uppercase);
  font-size: var(--font-size-sm);
  color: var(--colour-grey);
  margin-bottom: 0;
}
