@import '../../styles/variables.css';

@lost gutter 0.3em;

.button {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--colour-white);
  width: 100%;
  height: 3em;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-xs);
  font-size: var(--font-size-sm);
  @apply --font-uppercase;
  line-height: 1;
  letter-spacing: 0.4em;
  text-align: center;
  transition: 0.3s;

  &:link, &:visited {
    color: var(--colour-white);
  }

  &:hover {
    text-decoration: none;
    color: var(--colour-highlight);
    border: 1px solid var(--colour-highlight);
  }
}

.button--sm {
  height: 2em;
  background-color: var(--colour-grey-darkest);
  border: 1px solid var(--colour-grey-darkest);

  &:hover {
    background-color: var(--colour-black);
  }
}
