@import '../../styles/variables.css';

@lost gutter 0.3em;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--colour-white);
  line-height: 1;
  height: 3em;
  @apply --font-uppercase;

  letter-spacing: 0.4em;
  font-size: var(--font-size-sm);
  text-align: center;
  width: 100%;
}

.button--sm {
  height: 2em;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}
