@import '../../styles/variables.css';

/*@lost gutter 1em;*/

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  height: 20em;
  lost-masonry-column: 2/2 var(--gutter-masonry);

  @media (--screen-sm) {
    lost-masonry-column: 1/2 var(--gutter-masonry);
    height: 18em;
  }

  /* Line decoration */
  /*&:not(:first-child)::before {
    position: absolute;
    top: -1em;
    left: -1em;
    content: "";
    border-top: 1px solid var(--colour-white);
    width: var(--spacing-xs);
    height: 1px;

    @media (--screen-sm) {
      display: none;
    }
  }*/
}

.tile--1x2 {
  /*@media (--screen-sm) {
    lost-masonry-column: 2/2 var(--gutter-masonry);
  }*/
  height: 30em;

  @media (--screen-sm) {
    lost-masonry-column: 1/2 var(--gutter-masonry);
    height: 38em;
  }
}

.tile--2x1 {
  lost-masonry-column: 1/1 var(--gutter-masonry);
  height: 30em;
}

.tile__image {
  width: calc(100%);
  /*margin-right: -1em;*/
  flex: 1;

  @media (--screen-sm) {
    width: 100%;
  }

  @nest .tile--1x2 &, .tile--2x1 & {
    width: calc(100% + 2em);
    margin-left: -1em;

    @media (--screen-sm) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.tile__info {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 3em;

  @media (--screen-md) {
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

.tile header {
  width: 100%;
  margin-top: -0.25em;
}

.tile__title {
  display: inline-table;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.1em;
  padding-right: 0.1em;
  font-size: var(--font-size-lg);
  font-weight: 700;
  @apply --font-uppercase;
  @apply --font-antialiased;
  line-height: 1.2;
  color: var(--colour-white);
  background-color: var(--colour-black);

  @media (--screen-sm) {
    /*padding-left: var(--spacing-xxs);*/
  }

  @media (--screen-md) {
    /*position: absolute;*/
    /*top: 0;*/
  }

  @nest .tile--1x2 & {
    font-size: var(--font-size-xlg);
    margin-left: calc(-1 * var(--spacing-xs));
    padding-left: var(--spacing-xs);

    @media (--screen-md) {
      /* font-size: var(--font-size-xxlg); */
      /*line-height: 1.3;*/
      margin-left: 0;
      padding-left: var(--spacing-xxxs);
      padding-left: 0;
      /*margin-left: 0.5rem;*/
      /*padding-left: var(--spacing-sm);*/
    }

    /*margin-top: 0;*/
  }
}

.tile__subtitle {
  @apply --font-uppercase;
  font-size: var(--font-size-xs);
  opacity: 0.6;
}

.tile__content {
  font-size: var(--font-size-sm);
  margin-bottom: 1em;
  /* padding-left: var(--spacing-sm); */
  padding-top: var(--spacing-md);
  opacity: 0.9;

  @media (--screen-md) {
    flex: 4;
    margin-bottom: -0.2em;
    /*padding-top: 2.5em;*/
    padding-right: 1em;
    padding-left: 0;
  }

  & p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.tile__cta {
  /* margin-left: var(--spacing-xs); */
  width: 66%;

  @media (--screen-sm) {
    align-self: flex-end;
    width: 50%;
  }

  @media (--screen-md) {
    width: 30%;
    /*margin-top: 2em;*/
  }
}

/*.tile__cta {
    display: flex;
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-xlg);
    padding-left: var(--spacing-sm);
    height: 3em;

    @media (--screen-md) {
      flex: 2;
      flex-direction: column;
      justify-content: flex-end;
      height: auto;
      padding-bottom: 0.5em;
    }

    & > .button:first-child {
      flex: 2;
      height: auto;

      @media (--screen-md) {
        height: 3em;
        max-height: 3em;
      }
    }
  }

    .tile__cta__secondary {
      display: flex;
      flex: 1;
      flex-direction: column;

      @media (--screen-md) {
        lost-utility: clearfix;

        flex: none;
        flex-direction: row;
      }

      /* Buttons */
/*& .button--sm:first-child {
        margin-bottom: 0.3em;

        @media (--screen-md) {
          margin-top: 0.3em;
          margin-bottom: 0;
        }
      }*/

/* Half size button if there are two siblings */
/*& .button--sm:first-child:nth-last-child(2), & .button--sm:first-child:nth-last-child(2) ~ .button--sm {
        margin-left: 0.3em;

        @media (--screen-md) {
          lost-column: 1/2 0 0.3em;

          margin-top: 0.3em;
          margin-left: 0;
        }
      }
    }*/
