@import '../../styles/variables.css';

@lost gutter 1em;

.tile {
  position: relative;
  margin-bottom: 2em;

  @media (--screen-sm) {
    lost-column: 1/2;
  }

  &:not(:first-child)::before {
    position: absolute;
    top: -1em;
    left: -1em;
    content: "";
    border-top: 1px solid var(--colour-white);
    width: var(--spacing-xs);
    height: 1px;

    @media (--screen-sm) {
      display: none;
    }
  }
}

  .tile__image {
    width: calc(100% + 1em);
    margin-right: -1em;
    background-size: cover;
    background-position: center;
    height: 16em;

    @media (--screen-sm) {
      width: 100%;
    }

    @nest .tile--tall & {
      height: 20em;
    }
  }

  .tile__info {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 3em;

    @media (--screen-md) {
      flex-direction: row;
    }

    & h2:first-child {
      margin-top: -0.25em;
      margin-bottom: 0;
      display: inline-table;
      padding-right: 0.1em;
      font-size: var(--spacing-lg);
      font-weight: 700;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      line-height: 1.3;
      color: var(--colour-white);
      background-color: var(--colour-black);

      @media (--screen-sm) {
        padding-left: var(--spacing-xxs);
      }

      @media (--screen-md) {
        position: absolute;
      }
    }
  }

  .tile__content {
    font-size: var(--font-size-sm);
    padding-left: var(--spacing-sm);
    padding-top: var(--spacing-md);

    @media (--screen-md) {
      flex: 4;
      padding-top: 2.5em;
      padding-right: 4em;
    }

    & p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .tile__cta {
    display: flex;
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-xlg);
    padding-left: var(--spacing-sm);
    height: 3em;

    @media (--screen-md) {
      flex: 2;
      flex-direction: column;
      justify-content: flex-end;
      height: auto;
      padding-bottom: 0.5em;
    }

    & > .button:first-child {
      flex: 2;
      height: auto;

      @media (--screen-md) {
        height: 3em;
        max-height: 3em;
      }
    }
  }

    .tile__cta__secondary {
      display: flex;
      flex: 1;
      flex-direction: column;

      @media (--screen-md) {
        lost-utility: clearfix;

        flex: none;
        flex-direction: row;
      }

      /* Buttons */
      & .button--sm:first-child {
        margin-bottom: 0.3em;

        @media (--screen-md) {
          margin-top: 0.3em;
          margin-bottom: 0;
        }
      }

      /* Half size button if there are two siblings */
      & .button--sm:first-child:nth-last-child(2), & .button--sm:first-child:nth-last-child(2) ~ .button--sm {
        margin-left: 0.3em;

        @media (--screen-md) {
          lost-column: 1/2 0 0.3em;

          margin-top: 0.3em;
          margin-left: 0;
        }
      }
    }
