@import '../../styles/variables.css';

.app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2em);

  @media (--screen-sm) {
    min-height: calc(100vh - 4.2em);
  }
}

main {
  flex: 1;
}

/* Background Gradient */
.header-bg {
  position: sticky;
  top: 0;
  z-index: 8;
  margin-top: -2em;
  margin-left: -1em;
  pointer-events: none;
  display: block;
  width: calc(100% + 2em);
  height: 3em;
  background: linear-gradient(to bottom, var(--colour-black), rgba(0, 0, 0, 0.8));

  @media (--screen-sm) {
    top: -5.4em;
    width: calc(100% + 4em);
    margin-left: -2em;
    margin-top: -6em;
    height: 7.7em;
  }

  @media (--screen-lg) {
    top: -2em;
    margin-top: -3.4em;
    height: 5.5em;
  }

  /* Line decoration for primary-menu */
  &::after {
    @media (--screen-sm) {
      position: absolute;
      content: "";
      display: block;
      top: 4.5em;
      left: 2em;
      width: var(--spacing-sm);
      height: 1px;
      border-top: 1px solid var(--colour-white);
    }

    @media (--screen-lg) {
      display: none;
    }
  }
}
