@import '../../styles/variables.css';

.app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2em);

  @media (--screen-sm) {
    min-height: calc(100vh - 4.2em);
  }
}

main {
  flex: 1;
}

/* Background Gradient */
.header-bg {
  position: sticky;
  top: 0;
  z-index: 8;
  margin-top: -2em;
  margin-left: -1em;
  pointer-events: none;
  display: block;
  width: calc(100% + 2em);
  height: 3em;

  background: linear-gradient(to bottom, var(--colour-black), rgba(0, 0, 0, 0.8));
  opacity: 0;
  transition: 1s;

  @media (--screen-sm) {
    top: -5.4em;
    width: calc(100% + 4em);
    margin-left: -2em;
    margin-top: -6em;
    height: 7.7em;
  }

  @media (--screen-lg) {
    top: -2em;
    margin-top: -3.4em;
    height: 5.5em;
  }

  /* Line decoration for primary-menu */
  &::after {
    @media (--screen-sm) {
      position: absolute;
      content: "";
      display: block;
      top: 4.5em;
      left: 2em;
      width: var(--spacing-sm);
      height: 1px;
      border-top: 1px solid var(--colour-white);
    }

    @media (--screen-lg) {
      display: none;
    }
  }
}

  .header-bg.is-active {
    opacity: 1;
  }

  .app__loading-screen {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background-color: var(--colour-black);
    transition: 0.3s;
  }

    .app__loading-screen--is-active {
      display: block;
      opacity: 1;
    }
