@import '../../styles/variables.css';

@lost gutter 1em;

.simple-tile {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 1em;

  @media (--screen-sm) {
    lost-column: 1/2;
  }

  &:not(:first-child)::before {
    position: absolute;
    top: -1em;
    left: -1em;
    content: "";
    border-top: 1px solid var(--colour-white);
    width: var(--spacing-xs);
    height: 1px;

    @media (--screen-sm) {
      display: none;
    }
  }
}

  .simple-tile__image {
    flex: 1;
    width: calc(100% + 1em);

    /*margin-right: -1em;*/
    background-size: cover;
    background-position: center;
    height: 8em;

    @media (--screen-sm) {
      width: 100%;
    }

    /*@nest .simple-tile--tall & {
      height: 16em;
    }*/
  }

  .simple-tile__info {
    position: relative;

    /*display: flex;*/
    flex: 1;
    flex-direction: column;
    margin-top: 0.2em;
    margin-left: -0.2em;
    padding-top: 0.2em;
    padding-left: 0.3em;

    /*min-height: 3em;*/
    background-color: var(--colour-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (--screen-md) {
      flex-direction: row;
    }
  }

  .simple-tile__title {
    margin-top: 0;
    margin-left: -0.05em;
    margin-bottom: 0;

    /*display: inline-table;*/
    padding-right: 0.1em;
    font-size: var(--spacing-md);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
    color: var(--colour-white);
  }

  .simple-tile__subtitle {
    font-size: var(--font-size-sm);
    font-weight: 100;
    letter-spacing: 0.2em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .simple-tile__content {
    font-size: var(--font-size-sm);

    /*padding-left: var(--spacing-sm);*/
    padding-top: var(--spacing-md);

    @media (--screen-md) {
      flex: 4;
      padding-top: 2.5em;
      padding-right: 4em;
    }

    & p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
