@import '../../styles/variables.css';

.comment {
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--colour-white);

  padding-top: var(--spacing-sm);
  padding-left: 1em;
  margin-bottom: 1em;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 1em;
    border-top: 1px solid var(--colour-white);
  }

  &:last-child {
    /*border-bottom: 1px dotted var(--colour-white);*/
  }

  & header {
    display: flex;
    justify-content: space-between;
  }
}

  .comment__author {
    @apply --font-uppercase;
    font-weight: bold;
  }

  .comment__date {
    font-size: var(--font-size-sm);
    @apply --font-uppercase;
  }

  .comment__content {
    font-size: var(--font-size-sm);

    @media (--screen-sm) {
      font-size: var(--font-size-md);
      @apply --font-antialiased;
    }
  }
