@import '../../styles/variables.css';

.footer {
  position: relative;
  z-index: 7;
  display: flex;
  flex-direction: column;
  margin-top: 3em;

  @media (--screen-sm) {
    flex-direction: row;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: flex-end;
    margin-top: 6em;
  }
}

  .footer__cc {
    position: absolute;
    left: 0;
    top: 4.8em;
    transform: rotate(-90deg);
    transform-origin: top left;
    font-size: var(--font-size-sm);
    @apply --font-uppercase;
    line-height: 1;
  }

ul.footer-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-sm);
  font-size: var(--font-size-sm);
  @apply --font-uppercase;
  text-align: right;

  @media (--screen-sm) {
    flex-direction: row;
    order: 3;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }

  & li {
    line-height: 1.7;

    @media (--screen-sm) {
      margin-right: 1em;

      &::after {
        content: "/";
        margin-left: 1em;
      }

      &:last-child::after {
        content: "";
        margin-left: 0;
      }
    }
  }

  /* Line decoration */
  &::after {
    position: absolute;
    bottom: 0.5em;
    left: -3em;
    content: "";
    width: 3em;
    border-top: 1px solid var(--colour-white);

    @media (--screen-sm) {
      top: -1em;
      bottom: auto;
    }
  }
}

  .footer__social {
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-size-xlg);
    margin-right: -0.2em;

    /* Line decoration */
    @media (--screen-md) {
      &::before {
        position: absolute;
        left: 0.35em;
        bottom: -0.7em;
        content: "";
        width: 2.5em;
        border-bottom: 1px solid var(--colour-white);
      }

      &::after {
        position: absolute;
        top: 3em;
        right: 0.2em;
        content: "";
        height: 0.5em;
        border-right: 1px solid var(--colour-white);
      }
    }

    & a:link, & a:visited {
      color: var(--colour-white);
    }

    & a:hover {
      color: var(--colour-highlight);
    }
  }

.footer__nsw-logo {
  position: relative;
  height: auto;

  @media (--screen-sm) {
    margin-left: 2em;
  }

  & img {
    display: flex;
    width: 2.5em;
    margin-bottom: 0;

    @media (--screen-sm) {
      width: 4em;
      margin-right: -0.3em;
    }
  }

  /* Line decoration */
  &::after {
    position: absolute;
    bottom: -1em;
    right: 0;
    content: "";
    height: 3.5em;
    border-right: 1px solid var(--colour-white);

    @media (--screen-sm) {
      bottom: -2.2em;
      width: var(--spacing-lg);
      border-right: none;
      border-bottom: 1px solid var(--colour-white);
    }

    @media (--screen-md) {
      border-bottom: none;
    }
  }
}
