@import '../../styles/variables.css';

.masthead {
  position: relative;
  width: calc(100% + 2em);
  height: 20em;
  margin-top: -3em;
  margin-left: -1em;
  margin-right: -1em;
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em;

  @media (--screen-sm) {
    width: calc(100% + 4em);
    height: 40em;
    margin-top: -7.5em;
    margin-left: -2em;
    padding-left: 2em;
    padding-right: 2em;
  }

  @media (--screen-lg) {
    margin-top: -5.5em;
  }
}

.masthead--lg {
  height: 36em;

  @media (--screen-sm) {
    height: 92vh;
    min-height: 46em;
    max-height: 60em;
  }
}

.masthead__bg {
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  background-image: url('../static/images/masthead-background-01.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  @media (--screen-sm) {
    /*top: -8em;*/
  }

  /* Gradient */
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      var(--colour-black)
    );
  }
}

/* Main heading */
.masthead__title {
  position: absolute;
  top: 50%;
  letter-spacing: 0.25em;
  line-height: 1;
  /* font-size: var(--font-size-xlg); */
  font-size: 1.8em;

  @media (--screen-sm) {
    font-size: var(--font-size-xxxlg);
  }

  @media (--screen-md) {
    /*line-height: 1.1;*/
    font-size: var(--font-size-xxxxlg);
  }

  @nest .masthead--lg & {
    top: 45%;
  }

  & a:link,
  & a:visited {
    color: var(--colour-highlight);
  }
}

.masthead__title__main {
  display: block;
  position: relative;
}

.masthead__title__small {
  display: block;
  margin-bottom: var(--spacing-xxs);
  font-weight: 100;
  font-size: var(--font-size-xxxs);
  letter-spacing: 0.5em;

  @media (--screen-md) {
    font-size: var(--font-size-xxxxs);
    /*font-size: 0.3em;*/
    letter-spacing: 0.3em;
  }
}

.masthead__title__highlight {
  display: block;
  color: var(--colour-highlight);
  /* font-size: var(--font-size-sm); */
}

.masthead__subtitle {
  position: absolute;
  top: 21%;
  font-weight: 500;
  font-size: var(--font-size-sm);

  &::before {
    position: absolute;
    top: -1.6em;
    content: '';
    height: 1em;
    border-left: 1px solid var(--colour-white);
  }
}

.masthead__intro-text {
  position: absolute;
  bottom: 16%;
  left: 0;
  width: 80%;
  padding: 0 var(--spacing-md) 0 0;
  font-size: var(--font-size-sm);
  line-height: 1.4em;

  @media (--screen-sm) {
    bottom: 12%;
    left: auto;
    /* right: 10%; */
    width: 55%;
    font-size: var(--font-size-md);
    /* border-left: 1px dashed var(--colour-white); */
  }

  @media (--screen-md) {
    right: 0%;
    width: 45%;
  }

  @media (--screen-lg) {
    width: 35%;
  }

  /* Corner Line */
  &::after {
    position: absolute;
    content: '';
    top: -0.6em;
    right: 0;
    height: 1em;
    width: var(--spacing-xlg);
    border-top: 1px solid var(--colour-white);
    border-right: 1px dashed var(--colour-white);
  }
}

.masthead__intro-list {
  display: none;

  @media (--screen-sm) {
    display: block;
    position: absolute;
    top: 8em;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: bottom right;
    font-size: var(--font-size-sm);
    @apply --font-uppercase;
    line-height: 1;
    opacity: 0.3;
  }
}

.masthead__content {
  position: relative;
  height: 100%;
}

.masthead__caption {
  position: absolute;
  bottom: 10%;
  right: 0;
  padding-left: var(--spacing-xlg);
  font-size: var(--font-size-xs);
  @apply --font-uppercase;

  /* @media (--screen-sm) {
    bottom: 10%;
  } */

  &::before {
    position: absolute;
    top: var(--spacing-xxxs);
    left: 0;
    content: '';
    width: var(--spacing-sm);
    height: var(--spacing-sm);
    border-radius: var(--spacing-sm);
    background-color: var(--colour-highlight);
  }
}
