@import '../styles/variables.css';

#dxmaze {
  margin-top: 0;
}

h1,
h2 {
  text-align: center;
  padding-top: 0;
}

h1 {
  font-size: var(--font-size-md);

  @media (--screen-sm) {
    font-size: var(--font-size-lg);
  }

  @media (--screen-md) {
    font-size: var(--font-size-xlg);
  }
}

h2 {
  margin-top: 0;
}
