@import '../styles/variables.css';

.paragraph {
  /*composes: font-color from './global.css';*/
  font-size: 20px;
}

h1 {
  color: var(--colour-primary);
}

p {
  &.font-size-xxs {
    font-size: var(--font-size-xxs);
  }

  &.font-size-xs {
    font-size: var(--font-size-xs);
  }

  &.font-size-sm {
    font-size: var(--font-size-sm);
  }

  &.font-size-md {
    font-size: var(--font-size-md);
  }

  &.font-size-lg {
    font-size: var(--font-size-lg);
  }

  &.font-size-xlg {
    font-size: var(--font-size-xlg);
  }

  &.font-size-xxlg {
    font-size: var(--font-size-xxlg);
  }
}

.title {
  color: var(--colour-primary);

  & span {
    color: green;
  }
}

.boxes {
  lost-utility: clearfix;
}

.box {

  background-color: var(--colour-secondary);
  padding: var(--spacing-md);

  @media(--screen-sm) {
    lost-column: 1/4;
  }
}

.box--colour-primary {
  background-color: var(--colour-primary);
}

.box--colour-primary-dark {
  background-color: var(--colour-primary-dark);
}

.box--colour-primary-darker {
  background-color: var(--colour-primary-darker);
}

.box--colour-primary-darkest {
  background-color: var(--colour-primary-darkest);
}
