@import '../styles/variables.css';

.example-page {
  max-width: 40em;
}

.example-page p {
  &.font-size-xxs {
    font-size: var(--font-size-xxs);
    line-height: var(--line-height-xxs);
  }

  &.font-size-xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
  }

  &.font-size-sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }

  &.font-size-md {
    font-size: var(--font-size-md);
  }

  &.font-size-lg {
    font-size: var(--font-size-lg);
  }

  &.font-size-xlg {
    font-size: var(--font-size-xlg);
  }

  &.font-size-xxlg {
    font-size: var(--font-size-xxlg);
  }
}

.example-page__title {
  color: var(--colour-primary);

  & span {
    color: green;
  }
}

.example-page__boxes {
  lost-utility: clearfix;

  margin-bottom: 2rem;
}

.example-page__box {
  background-color: var(--colour-secondary);
  padding: var(--spacing-md);

  @media (--screen-sm) {
    lost-column: 1/7 0 0;
  }
}

.example-page__box--colour-primary {
  background-color: var(--colour-primary);
}

.example-page__box--colour-secondary {
  background-color: var(--colour-secondary);
}

.example-page__box--colour-highlight {
  background-color: var(--colour-highlight);
}

.example-page__box--colour-grey {
  background-color: var(--colour-grey);
}

@define-mixin create-box $colour-name, $colour, $index {
  .example-page__box--colour-$(colour-name):nth-child($index) {
    background-color: $colour;
    @mixin-content;
  }
}

@mixin create-box primary, var(--colour-primary-50), 1;
@mixin create-box primary, var(--colour-primary-100), 2;
@mixin create-box primary, var(--colour-primary-200), 3;
@mixin create-box primary, var(--colour-primary-300), 4;
@mixin create-box primary, var(--colour-primary-400), 5;
@mixin create-box primary, var(--colour-primary-500), 6;
@mixin create-box primary, var(--colour-primary-600), 7;
@mixin create-box primary, var(--colour-primary-700), 8;
@mixin create-box primary, var(--colour-primary-800), 9;
@mixin create-box primary, var(--colour-primary-900), 10;

@mixin create-box secondary, var(--colour-secondary-50), 1;
@mixin create-box secondary, var(--colour-secondary-100), 2;
@mixin create-box secondary, var(--colour-secondary-200), 3;
@mixin create-box secondary, var(--colour-secondary-300), 4;
@mixin create-box secondary, var(--colour-secondary-400), 5;
@mixin create-box secondary, var(--colour-secondary-500), 6;
@mixin create-box secondary, var(--colour-secondary-600), 7;
@mixin create-box secondary, var(--colour-secondary-700), 8;
@mixin create-box secondary, var(--colour-secondary-800), 9;
@mixin create-box secondary, var(--colour-secondary-900), 10;

@mixin create-box highlight, var(--colour-highlight-50), 1;
@mixin create-box highlight, var(--colour-highlight-100), 2;
@mixin create-box highlight, var(--colour-highlight-200), 3;
@mixin create-box highlight, var(--colour-highlight-300), 4;
@mixin create-box highlight, var(--colour-highlight-400), 5;
@mixin create-box highlight, var(--colour-highlight-500), 6;
@mixin create-box highlight, var(--colour-highlight-600), 7;
@mixin create-box highlight, var(--colour-highlight-700), 8;
@mixin create-box highlight, var(--colour-highlight-800), 9;
@mixin create-box highlight, var(--colour-highlight-900), 10;

@mixin create-box grey, var(--colour-grey-50), 1;
@mixin create-box grey, var(--colour-grey-100), 2;
@mixin create-box grey, var(--colour-grey-200), 3;
@mixin create-box grey, var(--colour-grey-300), 4;
@mixin create-box grey, var(--colour-grey-400), 5;
@mixin create-box grey, var(--colour-grey-500), 6;
@mixin create-box grey, var(--colour-grey-600), 7;
@mixin create-box grey, var(--colour-grey-700), 8;
@mixin create-box grey, var(--colour-grey-800), 9;
@mixin create-box grey, var(--colour-grey-900), 10;
