@import '../styles/variables.css';

/*article {
  lost-column: 1/3;

  margin-bottom: var(--spacing-md);

  & h2 {
    font-family: 'Lekton';
    font-weight: 400;
    margin-top: 0;
    font-size: var(--font-size-md);
  }
}*/

.masthead__title {
  /* Adjust glitch effect */
  &.glitch::after, &.glitch::before {
    top: 1.1em;
  }
}

.posts {
  lost-utility: clearfix;
}
