@import '../styles/variables.css';

.masthead__title {
  /* Adjust glitch effect */
  &.glitch::after,
  &.glitch::before {
    top: 1.1em;
  }
}

.masthead--grants {
  & .masthead__title {
    top: 5%;

    @media (--screen-sm) {
      top: 50%;
    }
  }
}

.featured-tiles,
.experiment-tiles {
  margin-left: calc(-1 * (var(--gutter-masonry) / 2));
  margin-right: calc(-1 * (var(--gutter-masonry) / 2));
  /*margin-left: -0.5em;
  margin-right: -0.5em;*/
}

.posts {
  lost-utility: clearfix;
}

.home-page__button-holder {
  @media (--screen-md) {
    max-width: 35%;
  }
}
