@import '../styles/variables.css';

article {
  lost-column: 1/3;

  margin-bottom: var(--spacing-md);

  & h2 {
    font-family: 'Lekton';
    font-weight: 400;
    margin-top: 0;
    font-size: var(--font-size-md);
  }
}

.posts {
  lost-utility: clearfix;
}

.masthead {
  position: relative;
  margin-top: -6em;
  z-index: 0;
  width: 100%;
  height: 50em;
  opacity: 0.35;
  background-image: url('../static/images/masthead-background-01.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;

  

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--colour-black));
  }
}
