@import '../styles/variables.css';

.masthead__title {
  /* Adjust glitch effect */
  &.glitch::after,
  &.glitch::before {
    top: 1.1em;
  }
}

/* .home-page__masthead--main {

} */

.home-page__masthead--grants {
  & .masthead__title {
    top: 20%;

    @media (--screen-sm) {
      top: 30%;
    }
  }
}

.home-page__main-tiles {
  margin-bottom: 3em;
}

.featured-tiles,
.experiment-tiles10 {
  margin-left: calc(-1 * (var(--gutter-masonry) / 2));
  margin-right: calc(-1 * (var(--gutter-masonry) / 2));
  /*margin-left: -0.3em;
  margin-right: -0.5em;*/
}

.posts {
  lost-utility: clearfix;
}

.home-page__button-holder {
  @media (--screen-md) {
    max-width: 35%;
  }
}
