@import '../styles/variables.css';

.post {
  position: relative;
}

  .post__featured-image-holder {
    position: relative;
  }

  .post__featured-image {
    display: inherit;
    width: calc(100% + 1em);
    margin-left: -1em;

    @media (--screen-sm) {
      width: calc(100% + 2em);
      margin-left: -2em;
    }

    @media (--screen-lg) {
      width: calc(100% + 4em);
      margin-left: -4em;
    }
  }

  .post__title {
    /*display: table-caption;*/
    display: inline-block;
    position: relative;
    z-index: 5;
    margin-top: -0.2em;
    margin-bottom: 0;
    margin-left: -1rem;
    padding-left: 2rem;
    background-color: var(--colour-black);
    font-size: var(--font-size-xlg);
    line-height: 1.3;

    @media (--screen-sm) {
      padding-left: 0;
      margin-left: -2rem;
      font-size: var(--font-size-xxlg);
    }

    @media (--screen-lg) {
      padding-left: 5rem;
      margin-left: -9rem;
    }
  }

  .post__author {
    margin-left: 1rem;

    @media (--screen-sm) {
      margin-left: -2em;
    }

    @media (--screen-lg) {
      margin-left: -4em;
    }
  }

  .post__date {
    position: absolute;
    bottom: -2.2em;
    right: 1.3em;
    line-height: 1;
    padding: var(--spacing-xxs) 0 var(--spacing-xxs) var(--spacing-xxs);
    margin-right: 0;
    font-size: var(--font-size-sm);
    letter-spacing: 0.2em;
    transform: rotate(-90deg);
    transform-origin: top right;
    background-color: var(--colour-black);

    @media (--screen-sm) {
      bottom: 0;
      padding: var(--spacing-xxs);
    }

    &::before {
      position: absolute;
      bottom: 0;
      content: "";
      width: var(--spacing-xlg);
      height: 1px;
      border-top: 1px solid var(--colour-white);
    }
  }

  .post__cta {
    display: flex;
    margin-top: var(--spacing-xlg);
    margin-bottom: var(--spacing-xxlg);
    padding-left: 1em;

    @media (--screen-sm) {
      justify-content: flex-end;
    }

    & .button {
      white-space: nowrap;

      /*box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);*/
    }

    & .button:nth-child(1) {
      flex: 2;

      @media (--screen-sm) {
        flex: none;
        width: auto;
      }
    }

    & .button:nth-child(2) {
      flex: 1;
      margin-left: 3px;

      @media (--screen-sm) {
        flex: none;
        width: auto;
      }
    }
  }

  .post__error {
    margin: 8em auto;
    width: 8em;
    font-size: var(--font-size-lg);
  }

  /* TODO: Put these in global.css */
  .post__content {
    position: relative;
    /*max-width: var(--container-width-sm);*/
    font-size: var(--font-size-md);
    /*font-size: 18px;*/
    letter-spacing: -0.02em;
    word-spacing: -0.2em;
    /* @apply --font-antialiased; */

    @media (--screen-md) {
      font-size: var(--font-size-lg);
    }

    & img {
      max-width: calc(100%);
      height: auto;

      @media (--screen-sm) {
        /*max-width: calc(100% + 4rem);*/

        /*margin-left: -4rem;*/
      }
    }

    &::before {
      position: absolute;
      left: -1em;
      top: -1em;
      content: "";
      width: 2em;
      height: 1px;
      border-top: 1px solid var(--colour-white);

      @media (--screen-sm) {
        left: -2rem;
        width: 2rem;
      }
    }
  }
