@import '../styles/variables.css';

.post {
  position: relative;
}

.post__featured-image-holder {
  position: relative;
}

.post__featured-image {
  display: inherit;
  width: calc(100% + 1em);
  margin-left: -1em;

  @media (--screen-sm) {
    width: calc(100% + 2em);
    margin-left: -2em;
  }

  @media (--screen-lg) {
    width: calc(100% + 4em);
    margin-left: -4em;
  }
}

.post__title {
  display: inline-block;
  position: relative;
  z-index: 5;
  margin: 0 1em 0 -1.05rem;
  padding-top: 0.15em;
  padding-left: 2rem;
  background-color: var(--colour-black);
  font-size: var(--font-size-xxlg);
  line-height: 1;

  @media (--screen-sm) {
    /* padding-left: 0; */
    margin-left: -2rem;
    font-size: var(--font-size-xxxxlg);
  }

  @media (--screen-lg) {
    padding-left: 5rem;
    margin-left: -9rem;
  }
}

.post__author {
  margin-left: 1rem;
  font-size: var(--font-size-sm);

  @media (--screen-sm) {
    margin-left: 0;
  }

  @media (--screen-md) {
    font-size: var(--font-size-md);
  }

  @media (--screen-lg) {
    margin-left: -4em;
  }
}

.post__date {
  position: absolute;
  bottom: 0;
  right: 1.3em;
  line-height: 1;
  padding: var(--spacing-xxs);
  margin-right: 0;
  font-size: var(--font-size-xs);
  letter-spacing: 0.2em;
  transform: rotate(-90deg);
  transform-origin: top right;
  color: var(--colour-grey-lighter);
  background-color: var(--colour-black);

  @media (--screen-sm) {
    padding: var(--spacing-xxs);
    font-size: var(--font-size-sm);
  }

  &::before {
    position: absolute;
    bottom: 0;
    content: '';
    width: var(--spacing-xlg);
    height: 1px;
    border-top: 1px dashed var(--colour-white);
  }
}

.post__cta {
  display: flex;
  margin-top: var(--spacing-xlg);
  margin-bottom: var(--spacing-xxlg);
  padding-left: 1em;

  @media (--screen-sm) {
    justify-content: flex-end;
  }

  & .button {
    white-space: nowrap;

    /*box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);*/
  }

  & .button:nth-child(1) {
    flex: 2;

    @media (--screen-sm) {
      flex: none;
      width: auto;
    }
  }

  & .button:nth-child(2) {
    flex: 1;
    margin-left: 3px;

    @media (--screen-sm) {
      flex: none;
      width: auto;
    }
  }
}

.post__error {
  margin: 8em auto;
  width: 8em;
  font-size: var(--font-size-lg);
}

.post__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.post__modal img {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1400px;
}

.post__modal_close {
  position: absolute;
  top: 85px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

/* TODO: Put these in global.css */
.post__content {
  position: relative;
  font-size: var(--font-size-md);
  line-height: 1.45;
  font-family: 'Barlow';
  color: var(--colour-grey-lightest);
  @apply (--font-antialiased);

  @media (--screen-sm) {
    line-height: inherit;
  }

  @media (--screen-md) {
    font-size: var(--font-size-lg);
    line-height: inherit;
  }

  & img {
    max-width: calc(100%);
    height: auto;

    @media (--screen-sm) {
      /*max-width: calc(100% + 4rem);*/

      /*margin-left: -4rem;*/
    }
  }

  &::before {
    position: absolute;
    left: -1em;
    top: -1em;
    content: '';
    width: 2em;
    height: 1px;
    border-top: 1px solid var(--colour-white);

    @media (--screen-sm) {
      left: -2rem;
      width: 2rem;
    }

    @media (--screen-lg) {
      left: -3em;
      width: 3em;
    }
  }
}
