@import '../styles/variables.css';

.post {
  position: relative;
}

  .post__featured-image-holder {
    position: relative;
  }

  .post__featured-image {
    display: inherit;
    width: calc(100% + 1em);
    margin-left: -1em;

    @media (--screen-sm) {
      width: calc(100% + 2em);
      margin-left: -2em;
    }

    @media (--screen-lg) {
      width: calc(100% + 4em);
      margin-left: -4em;
    }
  }

  .post__title {
    display: table-caption;
    position: relative;
    z-index: 5;
    margin-top: -0.2em;
    margin-bottom: 0;
    margin-left: -1rem;
    padding-left: 2rem;
    background-color: var(--colour-black);
    line-height: 1.3;

    @media (--screen-sm) {
      display: inline-block;
      padding-left: 3rem;
      margin-left: -2rem;
    }

    @media (--screen-lg) {
      padding-left: 5rem;
      margin-left: -4rem;
    }
  }

  .post__author {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-left: 1rem;
  }

  .post__date {
    position: absolute;
    top: -1px;
    right: 1.2em;
    line-height: 1;
    padding: var(--spacing-xxs);
    margin-right: 0;
    font-size: var(--font-size-sm);
    letter-spacing: 0.2em;
    transform: rotate(-90deg);
    transform-origin: top right;
    background-color: var(--colour-black);
  }

  .post__content {
    position: relative;
    max-width: var(--container-width-sm);
    font-size: var(--font-size-md);
    letter-spacing: -0.02em;
    word-spacing: -0.15em;

    @media (--screen-md) {
      font-size: var(--font-size-lg);
    }

    & img {
      max-width: calc(100% + 1rem);
      height: auto;

      @media (--screen-sm) {
        /*max-width: calc(100% + 4rem);*/
        /*margin-left: -4rem;*/
      }
    }

    &::before {
      position: absolute;
      left: -1em;
      top: -1em;
      content: "";
      width: 2em;
      height: 1px;
      border-top: 1px solid var(--colour-white);

      @media (--screen-sm) {
        left: -2rem;
        width: 3rem;
      }
    }
  }
