@import '../../styles/variables.css';

.search-modal__title {
  font-size: 1em;

  @media (--screen-md) {
    font-size: var(--font-size-lg);
  }
}

.search-modal__form {
  display: flex;

  & .button {
    flex: 1;
    margin-left: 1em;
    /* TODO: Add this to all buttons? */
    height: auto;
  }
}

.search-modal__search-box {
  flex: 3;
}

.search-modal__results {
  margin-top: var(--spacing-xxlg);
}
