@import 'normalize.css/normalize.css';
@import './variables';
@import './fonts';

/*@import 'corporate-icon-library/icomoon/style.css';*/

/*
 * BASE STYLES
 * ========================================================================== */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1em;
  background-color: var(--colour-black);
  color: var(--colour-white);
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.5;

  /*-webkit-font-smoothing: antialiased;*/

  @media (--screen-sm) {
    margin: 2em;
  }
}

h1, h2, h3, h4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-variant-ligatures: none;
}

h2:first-child {
  margin-top: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--colour-primary);
}

a:hover, a:active {
  text-decoration: underline;
}

p {
  margin-bottom: var(--font-size-xxlg);
}

strong, b {
  font-weight: 700;
  letter-spacing: -0.005em;
}

blockquote {
  font-style: italic;
  border-left: 3px dashed var(--colour-white);
  margin-left: -1rem;
  padding-left: calc(2rem - 3px);

  @media (--screen-md) {
    border-width: 1px;
    padding-left: calc(1rem - 1px);
  }
}

figcaption {
  font-size: var(--font-size-sm);
  opacity: 0.6;
}

button {
  background: none;
  border: none;
  color: var(--colour-white);
  font-family: var(--font-primary);
  text-transform: uppercase;
}
