@import 'normalize.css/normalize.css';
@import './variables';
@import './fonts';

/*
 * BASE STYLES
 * ========================================================================== */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1em;
  background-color: var(--colour-black);
  color: var(--colour-white);
  font-family: 'Lekton', sans-serif;
  font-weight: 300;
  line-height: 1.5;

  /*-webkit-font-smoothing: antialiased;*/

  @media (--screen-sm) {
    margin: 2em;
  }
}

h1 {
  font-weight: 400;
  text-transform: uppercase;
}

h2:first-child {
  margin-top: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--colour-primary);

  /*color: var(--colour-white);*/

  /*border-bottom: 1px solid var(--colour-primary-darkest);*/
}

p {
  margin-bottom: var(--font-size-xlg);
}

strong {
  font-weight: 700;
}

button {
  background: none;
  border: none;
  color: var(--colour-white);
  font-family: var(--font-primary);
  text-transform: uppercase;
}
