@import 'normalize.css/normalize.css';
@import './variables';
@import './fonts';

/*@import 'corporate-icon-library/icomoon/style.css';*/

/*
 * BASE STYLES
 * ========================================================================== */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1em;
  background-color: var(--colour-black);
  color: var(--colour-white);
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;

  /*-webkit-font-smoothing: antialiased;*/

  @media (--screen-sm) {
    margin: 2em;
    font-size: 16px;
  }
}

h1, h2, h3, h4 {
  @apply --font-uppercase;
  font-weight: 700;
}

h1 {
  font-size: var(--font-size-xxlg);
}

h2 {
  font-size: var(--font-size-lg);
  margin-top: var(--spacing-xxlg);
  line-height: 1.2;
}

h3 {
  font-size: var(--font-size-md);
}

h2:first-child {
  margin-top: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--colour-primary);
  transition: 0.3s;

  @nest h1 &, h2 & {
    color: inherit;
  }
}

a:hover, a:active {
  text-decoration: underline;

  @nest h1 &, h2 & {
    text-decoration: none;
    color: var(--colour-highlight);
  }
}

p {
  margin-top: 0;
  margin-bottom: var(--font-size-xxlg);
}

strong, b {
  font-weight: 700;
  letter-spacing: -0.005em;
}

blockquote {
  width: calc(100% + 1rem);
  font-style: italic;
  border-left: 2px dashed var(--colour-white);
  margin-left: -1rem;
  padding-left: calc(1rem - 2px);

  @media (--screen-sm) {
    border-width: 1px;
    padding-left: calc(1rem - 1px);
  }
}

figcaption {
  font-size: var(--font-size-sm);
  opacity: 0.6;
}

figure {
  margin: 0 0 var(--spacing-xlg) 0;
  max-width: 100%;
}

button, input[type=submit] {
  background: none;
  border: none;
  color: var(--colour-white);
  font-family: var(--font-primary);
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: var(--font-size-xs);
  font-size: var(--font-size-sm);
  @apply --font-uppercase;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: var(--spacing-sm);
  font-family: var(--font-primary);
  color: var(--colour-white);
  background-color: var(--colour-grey-darker);
  border-bottom: 4px solid var(--colour-grey-darkest);
  border-right: 2px solid rgba(45, 45, 45);
  border-left: none;
  border-top: none;
  border-radius: 0;
}

textarea {
  line-height: 1.4;
}

button[type=submit], input[type=submit] {
  padding: var(--spacing-md);
  font-size: var(--font-size-sm);
  @apply --font-uppercase;
  border: 1px solid var(--colour-white);
  transition: 0.3s;

  &:hover {
    color: var(--colour-highlight);
    border-color: var(--colour-highlight);
  }
}
