@import './variables.css';

/*
 * GLITCH
 * -------------------------------------------------------------------------- */

.glitch {
  /*color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;*/
}

@keyframes noise-anim {
  0% {
    clip: rect(31px, 9999px, 91px, 0);
  }

  5% {
    clip: rect(69px, 9999px, 31px, 0);
  }

  10% {
    clip: rect(4px, 9999px, 97px, 0);
  }

  15% {
    clip: rect(17px, 9999px, 85px, 0);
  }

  20% {
    clip: rect(80px, 9999px, 94px, 0);
  }

  25% {
    clip: rect(84px, 9999px, 64px, 0);
  }

  30% {
    clip: rect(93px, 9999px, 98px, 0);
  }

  35% {
    clip: rect(71px, 9999px, 40px, 0);
  }

  40% {
    clip: rect(63px, 9999px, 95px, 0);
  }

  45% {
    clip: rect(18px, 9999px, 16px, 0);
  }

  50% {
    clip: rect(97px, 9999px, 82px, 0);
  }

  55% {
    clip: rect(42px, 9999px, 34px, 0);
  }

  60% {
    clip: rect(18px, 9999px, 98px, 0);
  }

  65% {
    clip: rect(60px, 9999px, 90px, 0);
  }

  70% {
    clip: rect(93px, 9999px, 95px, 0);
  }

  75% {
    clip: rect(78px, 9999px, 87px, 0);
  }

  80% {
    clip: rect(29px, 9999px, 48px, 0);
  }

  85% {
    clip: rect(21px, 9999px, 70px, 0);
  }

  90% {
    clip: rect(81px, 9999px, 10px, 0);
  }

  95% {
    clip: rect(89px, 9999px, 66px, 0);
  }

  100% {
    clip: rect(33px, 9999px, 7px, 0);
  }
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 var(--colour-primary);
  top: 0;
  color: var(--colour-white);
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s;

  /*animation: noise-anim 2s infinite linear alternate-reverse;*/
  opacity: 0.5;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(36px, 9999px, 10px, 0);
  }

  5% {
    clip: rect(98px, 9999px, 60px, 0);
  }

  10% {
    clip: rect(57px, 9999px, 28px, 0);
  }

  15% {
    clip: rect(8px, 9999px, 34px, 0);
  }

  20% {
    clip: rect(84px, 9999px, 78px, 0);
  }

  25% {
    clip: rect(39px, 9999px, 13px, 0);
  }

  30% {
    clip: rect(77px, 9999px, 39px, 0);
  }

  35% {
    clip: rect(49px, 9999px, 86px, 0);
  }

  40% {
    clip: rect(94px, 9999px, 87px, 0);
  }

  45% {
    clip: rect(50px, 9999px, 88px, 0);
  }

  50% {
    clip: rect(61px, 9999px, 63px, 0);
  }

  55% {
    clip: rect(5px, 9999px, 43px, 0);
  }

  60% {
    clip: rect(80px, 9999px, 15px, 0);
  }

  65% {
    clip: rect(97px, 9999px, 1px, 0);
  }

  70% {
    clip: rect(70px, 9999px, 58px, 0);
  }

  75% {
    clip: rect(13px, 9999px, 19px, 0);
  }

  80% {
    clip: rect(59px, 9999px, 49px, 0);
  }

  85% {
    clip: rect(31px, 9999px, 44px, 0);
  }

  90% {
    clip: rect(65px, 9999px, 81px, 0);
  }

  95% {
    clip: rect(47px, 9999px, 33px, 0);
  }

  100% {
    clip: rect(58px, 9999px, 90px, 0);
  }
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  opacity: 0.5;
  animation: noise-anim-2 2.5s;

  /*animation: noise-anim-2 3s infinite linear alternate-reverse;*/
}
