@import './variables.css';

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 0.3em;
}

.loader .ball {
  height: 0.3em;
  width: 0;
  background: var(--colour-white);
  position: relative;
  margin: 0;
  border-radius: 0.3em;
}

.loader .ball:nth-child(1) {
  animation: ball 2s ease-in-out infinite;
}

@keyframes ball {
  0% {
    left: -0.3em;
    width: 0.3em;
  }

  25% {
    left: 0;
    width: 100px;
  }

  50% {
    left: 100px;
    width: 0.3em;
  }

  75% {
    left: 0;
    width: 100px;
  }

  100% {
    left: -0.3em;
    width: 0.3em;
  }
}
