:root {
  /*
   * VARIABLES
   * ======================================================================== */

  /*
   * Colours
   * ------------------------------------------------------------------------ */

  --line-height: 1.3em;

  --colour-primary: #2196f3;
  --colour-secondary: #f44336;
  --colour-highlight: #ffc107;

  --colour-black: black;
  --colour-grey: #9e9e9e;
  --colour-white: white;

  /* Primary */
  --colour-primary-50: color-mod(var(--colour-primary) tint(95%));
  --colour-primary-100: color-mod(var(--colour-primary) tint(80%));
  --colour-primary-200: color-mod(var(--colour-primary) tint(60%));
  --colour-primary-300: color-mod(var(--colour-primary) tint(40%));
  --colour-primary-400: color-mod(var(--colour-primary) tint(20%));
  --colour-primary-500: color-mod(var(--colour-primary) tint(0%));
  --colour-primary-600:
    color-mod(
      var(--colour-primary) shade(10%) saturation(90%)
    );
  --colour-primary-700:
    color-mod(
      var(--colour-primary) shade(20%) saturation(100%)
    );
  --colour-primary-800:
    color-mod(
      var(--colour-primary) shade(30%) saturation(100%)
    );
  --colour-primary-900:
    color-mod(
      var(--colour-primary) shade(40%) saturation(100%)
    );

  --colour-primary-light: var(--colour-primary-300);
  --colour-primary-lighter: var(--colour-primary-100);
  --colour-primary-lightest: var(--colour-primary-50);

  --colour-primary-dark: var(--colour-primary-600));
  --colour-primary-darker: var(--colour-primary-700));
  --colour-primary-darkest: var(--colour-primary-900));

  /* Secondary */
  --colour-secondary-50: color-mod(var(--colour-secondary) tint(95%));
  --colour-secondary-100: color-mod(var(--colour-secondary) tint(80%));
  --colour-secondary-200: color-mod(var(--colour-secondary) tint(60%));
  --colour-secondary-300: color-mod(var(--colour-secondary) tint(40%));
  --colour-secondary-400: color-mod(var(--colour-secondary) tint(20%));
  --colour-secondary-500: color-mod(var(--colour-secondary) tint(0%));
  --colour-secondary-600:
    color-mod(
      var(--colour-secondary) shade(10%) saturation(90%)
    );
  --colour-secondary-700:
    color-mod(
      var(--colour-secondary) shade(20%) saturation(100%)
    );
  --colour-secondary-800:
    color-mod(
      var(--colour-secondary) shade(30%) saturation(100%)
    );
  --colour-secondary-900:
    color-mod(
      var(--colour-secondary) shade(40%) saturation(100%)
    );

  --colour-secondary-light: var(--colour-secondary-300);
  --colour-secondary-lighter: var(--colour-secondary-100);
  --colour-secondary-lightest: var(--colour-secondary-50);

  --colour-secondary-dark: var(--colour-secondary-600));
  --colour-secondary-darker: var(--colour-secondary-700));
  --colour-secondary-darkest: var(--colour-secondary-900));

  /* Highlight */
  --colour-highlight-50: color-mod(var(--colour-highlight) tint(95%));
  --colour-highlight-100: color-mod(var(--colour-highlight) tint(80%));
  --colour-highlight-200: color-mod(var(--colour-highlight) tint(60%));
  --colour-highlight-300: color-mod(var(--colour-highlight) tint(40%));
  --colour-highlight-400: color-mod(var(--colour-highlight) tint(20%));
  --colour-highlight-500: color-mod(var(--colour-highlight) tint(0%));
  --colour-highlight-600:
    color-mod(
      var(--colour-highlight) shade(10%) saturation(90%)
    );
  --colour-highlight-700:
    color-mod(
      var(--colour-highlight) shade(20%) saturation(100%)
    );
  --colour-highlight-800:
    color-mod(
      var(--colour-highlight) shade(30%) saturation(100%)
    );
  --colour-highlight-900:
    color-mod(
      var(--colour-highlight) shade(40%) saturation(100%)
    );

  --colour-highlight-light: var(--colour-highlight-300);
  --colour-highlight-lighter: var(--colour-highlight-100);
  --colour-highlight-lightest: var(--colour-highlight-50);

  --colour-highlight-dark: var(--colour-highlight-600));
  --colour-highlight-darker: var(--colour-highlight-700));
  --colour-highlight-darkest: var(--colour-highlight-900));

  /* Grey */
  --colour-grey-50: color-mod(var(--colour-grey) tint(95%));
  --colour-grey-100: color-mod(var(--colour-grey) tint(80%));
  --colour-grey-200: color-mod(var(--colour-grey) tint(60%));
  --colour-grey-300: color-mod(var(--colour-grey) tint(40%));
  --colour-grey-400: color-mod(var(--colour-grey) tint(20%));
  --colour-grey-500: color-mod(var(--colour-grey) tint(0%));
  --colour-grey-600:
    color-mod(
      var(--colour-grey) shade(15%)
    );
  --colour-grey-700:
    color-mod(
      var(--colour-grey) shade(30%)
    );
  --colour-grey-800:
    color-mod(
      var(--colour-grey) shade(50%)
    );
  --colour-grey-900:
    color-mod(
      var(--colour-grey) shade(80%)
    );

  --colour-grey-light: var(--colour-grey-300);
  --colour-grey-lighter: var(--colour-grey-100);
  --colour-grey-lightest: var(--colour-grey-50);

  --colour-grey-dark: var(--colour-grey-600));
  --colour-grey-darker: var(--colour-grey-700));
  --colour-grey-darkest: var(--colour-grey-900));

  /*
   * Baseline Grid
   * ------------------------------------------------------------------------ */

  --grid-height: 1rem;

  /*
   * Font Sizes
   * ------------------------------------------------------------------------ */

  --font-scale: 1.3;
  --font-size-md: 1rem;

  --font-size-sm: calc(var(--font-size-md) / var(--font-scale));
  --font-size-xs: calc(var(--font-size-sm) / var(--font-scale));
  --font-size-xxs: calc(var(--font-size-xs) / var(--font-scale));

  --font-size-lg: calc(var(--font-scale) * var(--font-size-md));
  --font-size-xlg: calc(var(--font-scale) * var(--font-size-lg));
  --font-size-xxlg: calc(var(--font-scale) * var(--font-size-xlg));

  --line-height-xxs: calc(var(--grid-height) * 1);
  --line-height-xs: calc(var(--grid-height) * 1);
  --line-height-sm: calc(var(--grid-height) * 1);
  --line-height-md: calc(var(--grid-height) * 2);
  --line-height-lg: calc(var(--grid-height) * 2);
  --line-height-xlg: calc(var(--grid-height) * 2);
  --line-height-xxlg: calc(var(--grid-height) * 3);

  /*
   * Spacing
   * ------------------------------------------------------------------------ */

  --spacing-scale: 1.3;
  --spacing-md: var(--grid-height);

  --spacing-sm: calc(var(--spacing-md) / var(--spacing-scale));
  --spacing-xs: calc(var(--spacing-sm) / var(--spacing-scale));
  --spacing-xxs: calc(var(--spacing-xs) / var(--spacing-scale));

  --spacing-lg: calc(var(--spacing-scale) * var(--spacing-md));
  --spacing-xlg: calc(var(--spacing-scale) * var(--spacing-lg));
  --spacing-xxlg: calc(var(--spacing-scale) * var(--spacing-xlg));

  --spacing-1: calc(var(--grid-height) * 1);
  --spacing-2: calc(var(--grid-height) * 2);
  --spacing-3: calc(var(--grid-height) * 3);
  --spacing-4: calc(var(--grid-height) * 4);
  --spacing-5: calc(var(--grid-height) * 5);

  /*
   * Custom Media Queries
   * ------------------------------------------------------------------------ */

  /* 480px Extra small screen / phone */
  @custom-media --screen-xs (min-width: 30em);

  /* 768px Small screen / tablet */
  @custom-media --screen-sm (min-width: 48em);

  /* 1024px Medium screen / desktop */
  @custom-media --screen-md (min-width: 64em);

  /* 1440 Large screen / wide desktop */
  @custom-media --screen-lg (min-width: 90em);

  /* 1920 HD TV screen */
  @custom-media --screen-xlg (min-width: 120em);

  /*
   * Containers
   * ------------------------------------------------------------------------ */

  --container-width-xs: 480px;
  --container-width-sm: 768px;
  --container-width-md: 1024px;
  --container-width-lg: 1440px;
  --container-width-xlg: 1920px;
}
